* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.form-container, .carta-cuadrado
{
    width: 90%;
    max-width: 330px;
    min-width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 20px; 
}



 .carta-cuadrado--titulo-contenedor
{
    position: relative;
    font-size: 1.2rem;
    align-self: flex-start;
    justify-self: stretch;
    padding-left: 20px;
    margin-top: 80px;
    width: 100%;
}

.carta-cuadrado h2 span
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    top: -60px;
    left: 20px;
    

}

.cuadrado-calculos
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 350px;
}

.seccion-perimetro 
{
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    gap: 12px;
    width: 90%;
    justify-self: center;
}




.seccion--valor
{
    height: 32px;
    border-radius: 8px;
    padding: 12px

}

.seccion-perimetro--boton, .seccion-perimetro--reinicio
{
    height: 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: -8px;
}



.seccion-resultado
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    height: 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(200deg, rgba(198,1,31,1) 0%, rgba(250,125,128,1) 100%);
    
    

}

.seccion-area
{
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    
}

.seccion--boton
{
    height: 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: -8px;
}